body { background-color: white; color: #333333; font: 16px/1.5 sans-serif; margin: 0; }
@media all and (min-width: 1024px) { body { background-color: #000; background-image: url(../images/bg-black.png); } }

header { background-color: #333333; color: white; }
@media all and (max-width: 414px) { header { position: relative; } }
header h1 { background-color: #005aaa; margin: 0; padding: 0.55em; font-size: 1em; }
@media all and (min-width: 768px) { header h1 { float: left; margin-right: 1em; } }
header h1 img { display: block; }
header nav ul { margin: 0; padding: 0; list-style: none; }
@media all and (max-width: 414px) { header nav ul { display: none; } }
@media all and (min-width: 415px) { header nav li { display: inline-block; } }
@media all and (max-width: 414px) { header nav button { position: absolute; top: 0; right: 0; border: none; padding: 0.8em 1em; }
  header nav button:active { background-color: white; color: #005aaa; } }
@media all and (min-width: 415px) { header nav button { display: none; } }
header li a { display: block; color: white; text-decoration: none; padding: 0.5em 1em; }
header li a:active, header li a:hover { background-color: white; color: #005aaa; }

@media all and (min-width: 1024px) { #container { max-width: 1024px; background-color: white; color: #333333; margin: 0 auto; } }

main { padding: 0 1em; }

main img { width: 100%; border-radius: 10px; -webkit-box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75); box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75); }

s { color: #c00; }

button { background-color: #005aaa; color: white; border: 1px outset #005aaa; font-size: 0.9em; padding: 0.4em 0.7em; }

footer { background-color: #333333; color: white; padding: 0 1em; }

.cf:before, .cf:after, .grid-row:before, .grid-row:after, main:before, main:after, footer:before, footer:after { display: table; content: " "; }
.cf:after, .grid-row:after, main:after, footer:after { clear: both; }

.grid-row { margin: 1em -1em; }

.grid-half-m { padding: 0 1em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media all and (min-width: 768px) { .grid-half-m { float: left; width: 50%; } }

.grid-half-m h2:first-child, .grid-half-m h3:first-child { margin-top: 0; }

@media all and (min-width: 1024px) { .grid-full-l { float: none; width: auto; }
  .grid-third-l { float: left; width: 33.3333%; }
  .grid-row-off-l { margin: 0; }
  .grid-row-off-l:before, .grid-row-off-l:after { clear: none; display: inherit; content: " "; }
  .grid-row-l { margin: 1em -1em; } }

/*# sourceMappingURL=main.css.map */