$color-background: #fff;
$color-foreground: #333;
$color-accent: #005aaa;

@import 'clearfix';

$width-xs: 414px;
$width-small: 415px;
$width-medium: 768px;
$width-large: 1024px;

@mixin responsive($width) {
	@if $width == wide-screens {
		@media all and (min-width: $width-large) 
		{ @content; }
	}
	@else if $width == medium-screens {
		@media all and (min-width: $width-medium)
		{ @content; }
	}
	@else if $width == small-screens {
		@media all and (min-width: $width-small) 
		{ @content; }
	}
	@else if $width == xs-screens {
		@media all and (max-width: $width-xs) 
		{ @content; }
	}
}

body {
	background-color: $color-background;
	color: $color-foreground;
	font: 16px/1.5 sans-serif;
	margin: 0;

	@include responsive(wide-screens) {
		background-color: #000;
		background-image: url(../images/bg-black.png);
	}
}

header {
	background-color: $color-foreground;
	color: $color-background;

	@include responsive(xs-screens) {
	position: relative;
	}

	h1 {
		background-color: $color-accent;
		margin: 0;
		padding: 0.55em;
		font-size: 1em;

		@include responsive(medium-screens) {
			float: left;
			margin-right: 1em;
		}

		img {
			display: block;
		}
	}

	nav {

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			@include responsive(xs-screens) {
				display: none;
			}
		}

		li {
			@include responsive(small-screens) {
				display: inline-block;
			}
		}

		button {
			@include responsive(xs-screens) {
				position: absolute;
				top: 0;
				right: 0;
				border: none;
				padding: 0.8em 1em;

				&:active {
					background-color: $color-background;
					color: $color-accent;
				} 
			}

			@include responsive(small-screens) {
				display: none;
			}
		}
	}

	li a {
		display: block;
		color: $color-background;
		text-decoration: none;
		padding: 0.5em 1em;

		&:active, &:hover {
			background-color: $color-background;
			color: $color-accent;
		}
	}
}

#container {
	@include responsive(wide-screens) {
		max-width: 1024px;
		background-color: $color-background;
		color: $color-foreground;
		margin: 0 auto;
	}
}

main {
	padding: 0 1em;
}

main img {
	width: 100%;
	border-radius: 10px;
	box-shadow: 0 0 3px 0 rgba(50, 50, 50, 0.75);
}

s {
	color: #c00;
}

button {
	background-color: $color-accent;
	color: $color-background;
	border: 1px outset $color-accent;
	font-size: 0.9em;
	padding: 0.4em 0.7em;
}

footer {
	background-color: $color-foreground;
	color: $color-background;
	padding: 0 1em;
}

.cf, .grid-row, main, footer {
    @include clearfix();
}

.grid-row {
	margin: 1em -1em;
}

.grid-half-m {
	padding: 0 1em;
	box-sizing: border-box;
	@include responsive(medium-screens) {
		float: left;
		width: 50%;
	}
}

.grid-half-m h2:first-child,
.grid-half-m h3:first-child {
	margin-top: 0;
}

@media all and (min-width: 1024px) {

	.grid-full-l {
		float: none;
		width: auto;
	}

	.grid-third-l {
		float: left;
		width: 33.3333%;
	}

	.grid-row-off-l {
		margin: 0;
	}

	.grid-row-off-l:before, .grid-row-off-l:after {
		clear: none;
		display: inherit;
		content: " ";
	}

	.grid-row-l {
		margin: 1em -1em;
	}
}